<launch>
  <arg name="allow_execution" default="false"/>
  <arg name="path_mode" default="single_stroke"/>
  <arg name="orientation_mode" default="keep_current"/>
  <arg name="eef_link" default="Tool_end"/>

  <group ns="book_demo">
    <node pkg="cr5_book_spray_demo"
          type="book_spray_planner.py"
          name="planner"
          output="screen"
          clear_params="true">
      <rosparam command="load" file="$(find cr5_book_spray_demo)/config/book_path.yaml"/>
      <rosparam command="load" file="$(find cr5_book_spray_demo)/config/safety.yaml"/>
      <param name="allow_execution" value="$(arg allow_execution)"/>
      <param name="path_mode" value="$(arg path_mode)"/>
      <param name="orientation_mode" value="$(arg orientation_mode)"/>
      <param name="eef_link" value="$(arg eef_link)"/>
    </node>
  </group>
</launch>
