<launch>
  <arg name="start_camera" default="true"/>
  <arg name="camera_name" default="camera"/>

  <group if="$(arg start_camera)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="camera" value="$(arg camera_name)"/>
      <arg name="align_depth" value="true"/>
      <arg name="enable_sync" value="true"/>
      <arg name="enable_pointcloud" value="false"/>
    </include>
  </group>

  <group ns="book_demo">
    <node pkg="cr5_book_spray_demo"
          type="book_pose_estimator.py"
          name="estimator"
          output="screen"
          clear_params="true">
      <rosparam command="load" file="$(find cr5_book_spray_demo)/config/book_vision.yaml"/>
    </node>
  </group>
</launch>
